.header_shopping_cart{
	display: flex;
 	padding: 32px 0 12px;
}

.back{
	margin:  20px 25px 0;
}

.shopping_cart_icon{
	padding: 0 0 0 40%;
}

.button_row{
	display: flex;
	justify-content:space-between;
	padding: 20px 17.8% 20px;
}

.btn_frame{
	padding: 10px 5px 10px;
}

.buttom{
	text-decoration:none;
	font-size: 10px;
	color: black;
	background-color: rgba(180,180,180,1);
	padding: 9px 26px 9px;
	border-radius: 25px;
}

.BUY_buttom{
	text-decoration:none;
	font-size: 10px;
	color: black;
	background-color: rgba(180,180,180,1);
	padding: 9px 26px 9px;
	border-radius: 25px;
}

.main{
	padding: 0px 13% 5px ;
}

.item_row{
	display: flex;
}

.checkbox{
	margin-top: 47px;
	width: 35px;
	height: 35px;
}

.item_card{
	display: flex;
	padding: 0 10px 0 0;
	margin:  0 0 0 20px;
	box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.4);
	background-color: #E5E5E5;
	border-radius: 25px;
}

.item_img{
	object-fit: cover;
	width: 140px;
	height: 140px;
	padding:  0px 10px 0px 0px;
	border-radius: 20px;
}

.text_box{
	padding: 14px 0 12px 0 ;
	width: 490px;
}

.item_name{
	font-size:18px ;
	color: ;
}

.discribe{
	font-size: 10px;
	color:rgba(100,100,100,0.6);
}

.counter{
	font-size: 35px;
	margin:5.8% 0 0 25px ;
	display: flex;
}

.count{
 padding: 0 15px 0px;
 margin-top: -10px;
}

.del{
	margin: 5px 0 0 48px ;
}